.shop-cart {
    display: grid;
    grid-template-rows: [toggle-s] 4rem [toggle-e content-s] 1fr [content-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 1.5rem;

    transition: all .3s ease;

    &__toggle {
        grid-row: toggle-s/toggle-e;
        grid-column: s/e;
        justify-self: end;
    }

    &__content {
        grid-row: content-s/content-e;
        grid-column: s/e;
    }
}

.shop-cart {
    &__toggle {
    
    }

    &__content {
        height: 675px;
        width: 520px;
        background-color: $color-gray-one;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);
    }
}

.cart-button {
    display: grid;
    justify-content: center;
    align-content: center;  

    background-color: $color-gray-one;
    color: white;
    font-size: 2.8rem;
    border-radius: 2.5rem 0 0 2.5rem;
    height: 4rem;
    width: 7.6rem;
}

.cart-content {
    display: grid;
    grid-template-rows: 2.5rem [title-s] 5rem [title-e products-s] 1fr [products-e footer-s] 11.3rem [footer-e];
    grid-template-columns: [footer-s] 3rem [s] 1fr [e] 3rem [footer-e];

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;

        font-weight: 600;
        font-size: 3rem;
        font-family: $font-one;
        color: $color-gray-three;
    }

    &__products {
        grid-row: products-s/products-e;
        grid-column: s/e;

        display: grid;
        grid-row-gap: 4.5rem;

        overflow-y: scroll;
        padding: 2rem 0;

        &::-webkit-scrollbar {
            width: 1rem;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 .6rem rgba(0,0,0,0.3);
            border-radius: .2rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-gray-two;
            outline: .1rem solid $color-gray-three;
            border-radius: .2rem;
        }

    }

    &__footer {
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;

        display: grid;
    }
}

.cart-footer {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 5rem [checkout-s] 1fr [checkout-e subtotal-s] 1fr [subtotal-e] 2.7rem [price-s] 4.6rem [price-e] 3.1rem;
    align-items: center;

    height: 11.3rem;
    background-color: #1A1A1A;

    & > * {
        grid-row: s/e;
    }

    &__checkout {
        grid-column: checkout-s/checkout-e;

        display: grid;
        justify-content: center;
        align-content: center;

        height: 3.8rem;
        width: 18.3rem;
        border-radius: 2rem;
        background-color: $color-green-one;
        color: white;
        font-family: $font-two;
        font-size: 1.6rem;
        font-weight: 600;

        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }

    &__subtotal,
    &__price {
        font-size: 1.8rem;
    }

    &__subtotal {
        grid-column: subtotal-s/subtotal-e;
        justify-self: end;
    }

    &__price {
        grid-column: price-s/price-e;
        justify-self: start;
        
        color: white;
        font-weight: 600;
    }
}

.cart-hidden {
    transform: translateX(100%);
}