// PLACE FRONT AND BACK ON TOP OF EACH OTHER
.shop-product {
    display: grid;
    grid-template-rows: 1/-1;
    grid-template-columns: 1/-1;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
}


// CARD FLIP
.shop-product {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__front,
    &__back {
        backface-visibility: hidden;
        transition: all 1s ease;
    }

    &__back {
        transform: rotateY(-180deg);
    }

    &:hover &__front {
        transform: rotateY(180deg);
    }

    &:hover &__back {
        transform: rotateY(0deg);
    }
}

.shop-product__front {
    display: grid;
    justify-items: center;
    align-items: center;
    
    height: 31.4rem;
    width: 24rem;
    
    &__image {

    }

    &__title {
        color: $color-gray-one;
        font-size: 1.8rem;
        font-family: $font-one;
    }    
}

.shop-product__back {
    display: grid;
    grid-template-rows: 1.5rem [title-s] 3rem [title-e description-s] 1fr [description-e price-s] 2.5rem [price-e footer-s] 6.5rem [footer-e] 1.5rem;
    grid-template-columns: 1.5rem [s] 1fr [e] 1.5rem;
    grid-row-gap: .7rem;
    justify-items: start;

    height: 31.4rem;
    width: 24rem;
    background-color: white;
    box-shadow: 0 .2rem 2rem 0 rgba(0,0,0,0.1);

    & > * {
        grid-column: s/e;
    }

    &__title {
        grid-row: title-s/title-e;

        color: $color-green-one;
        font-family: $font-three;
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__description {
        grid-row: description-s/description-e;

        font-size: 1.3rem;
        color: $color-gray-one;
    }

    &__price {
        grid-row: price-s/price-e;
    }

    &__quantity {
        grid-row: footer-s/footer-e;
    }

    &__add-to-cart {
        grid-row: footer-s/footer-e;
        justify-self: end;

        display: grid;
        align-content: center;
        justify-content: center;

        height: 4rem;
        width: 9.7rem;
        border-radius: 2rem;
        color: white;
        background-color: $color-green-one;
        font-weight: 600;
        font-size: 1.2rem;
        transition: all .1s ease;
        cursor: default;
        
        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }
    }

}