.layout {
    display: grid;
    grid-template-rows: [header-s] 5rem [header-e navbar-s] 5rem [navbar-e content-s] 1fr [content-e];
    grid-template-columns: [s] minmax(2rem, 25rem) [content-s] 1fr [content-e] minmax(2rem, 25rem) [e];
}