@import "variables", "mixins", "layout", "headernavbar";
@import 'auth/signin', 'auth/signup';
@import "page-title";

html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}