@import "variables", "mixins", "layout", "headernavbar";
@import 'auth/signin', 'auth/signup';
@import "page-title", "form-fields", "details";
@import "account/account.scss", "account/purchase-history", "account/account-information.scss";
@import "shop/shop", "shop/shop-search-bar", "shop/shop-product";
@import "quantity", "green-price-tag";
@import "shop/shop-cart", "shop/shop-cart-product";
@import "order/review";

html {
    font-size: 62.5%;
    font-family: $font-two;
    color: $color-gray-four;
    cursor: default;

    a,
    button {
        cursor: pointer;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}