$color-gray-one: #333;
$color-gray-two: #666;
$color-gray-three: #E6E6E6;
$color-gray-four: #808080;
$color-gray-five: #CCC;

$color-green-one: #00CB79;

$font-one: "Titillium Web";
$font-two: "Open Sans";
$font-three: "Open Sans Condensed";