.purchase-history {
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 3.7rem 0;
    }

    &__page-title {
        border-bottom: .1rem solid $color-gray-five;
    }

    &__purchases {
        
    }

    &__details {

    }

    &__bottom-border {
        border-bottom: .1rem solid $color-gray-seven;
    }
}

.purchases {
    display: grid;
    grid-template-columns: repeat(auto-fit, 8rem);
    width: 36rem;
    grid-gap: 1rem;
}

.purchase-detail {

}